version: 2.1

commands:
  setup:
    description: "Installs python packages and source module"
    steps:
      - checkout
      - run:
          name: Setup Tools
          command: python -m pip install --user --upgrade pip setuptools wheel
      - run:
          name: Installing package
          command: python -m pip install --user --upgrade -e .[dev]
  test:
    description: "Run tests, possibly publishing results"
    parameters:
      publish:
        type: boolean
        default: false
    steps:
      - run:
          name: pytest
          command: python -m pytest tests -s --doctest-modules --junitxml=junit/test-results.xml --cov=unmock --cov-report=xml --cov-report=html --cov-fail-under=80
      - when:
          condition: << parameters.publish >>
          steps:
            - store_test_results:
                path: junit

jobs:
  # Find tags here: https://circleci.com/docs/2.0/docker-image-tags.json
  build:  # Default entry point, just to see we can actually pull the contents....
    docker:
      - image: circleci/python:3.6.8
    steps:
    - checkout

  linux27:  # Python 2.7.16
    docker:
      - image: circleci/python:2.7.16
    steps:
    - setup
    - test

  linux34:
    docker:
      - image: circleci/python:3.4
    steps:
    - setup
    - test

  linux35:
    docker:
      - image: circleci/python:3.5
    steps:
    - setup
    - test

  linux36:
    docker:
      - image: circleci/python:3.6.8
    steps:
    - setup
    - test:
        publish: true

  linux37:  # Python 3.7.5 RC version
    docker:
      - image: circleci/python:3.7-rc
    steps:
    - setup
    - test
  
  macOS36:
    macos:
      # https://circle-macos-docs.s3.amazonaws.com/image-manifest/build-430/index.html
      # Python 3.6.5, Darwin 17.4.0, macOS 10.13.3
      xcode: "9.4.1"
    steps:
    - setup
    - test

  macOS37:
    macos:
      # https://circle-macos-docs.s3.amazonaws.com/image-manifest/build-520/index.html
      # Python 3.7.2, Darwin 18.2.0, macOS 10.14.3
      xcode: "10.2.0"
    steps:
    - setup
    - test

  deploy:
    docker:
      - image: circleci/python:3.6.8
    steps:
    - setup
    - run: git config credential.helper "/bin/bash ./.circleci/git-credentials-helper.sh"
    - run: python setup.py upload

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      #- macOS36  # Commented out as we don't have that in CircleCI yet
      #- macOS37
      - linux27:
          requires:
            - build
      - linux34:
          requires:
            - build
      - linux35:
          requires:
            - build
      - linux36:
          requires:
            - build
      - linux37:
          requires:
            - build
      - deploy:
          requires:
            - build
            #- macOS36
            #- macOS37
            - linux27
            - linux34
            - linux35
            - linux36
            - linux37
          filters:
            branches:
              only: master
